body {
  font-family: "Alegreya", serif;
  font-size: 20px;
}
.jumbotron {
  height: 100px;
  text-align: center;
  background-color: rgb(78, 76, 76);
  color: white;
}

/* Style the search field */
form.div-data input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  background: #f1f1f1;
}

/* Style the submit button */
form.div-data button {
  float: left;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.div-data button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.div-data::after {
  content: "";
  clear: both;
  display: table;
}

form.div-data {
  width: 300px;
}

.form-div {
  width: 100%;
  margin-left: 30px;
}
#search-history {
  padding-top: 10px;
  padding-left: 10px;
  border-color: black;
}

#main-search-output {
  width: 50%;
  float: left;
  margin-left: 50px;
}

#five-day-search-output {
  width: 100%;
  float: left;
  margin-left: 50px;
}
.individualDays {
  width: 17%;
  height: 175px;
  background-color: rgb(28, 153, 255);
  border-radius: 10px;
  color: white;
  margin: 10px;
  padding-left: 10px;
  float: left;
  /* display: inline; */
}

.styleMainForecast {
  font-size: 25px;
}

#forecastOutput {
  font-size: 30px;
  width: 500px;
}
