.jumbotron {
  height: 100px;
  text-align: center;
  background-color: rgb(78, 76, 76);
  color: white;
}

/* Style the search field */
form.div-data input[type="text"] {
  padding: 10px;
  margin-left: 30px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 70%;
  background: #f1f1f1;
}

/* Style the submit button */
form.div-data button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.div-data button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.div-data::after {
  content: "";
  clear: both;
  display: table;
}

form.div-data {
  width: 300px;
}

.form-div {
  width: 30%;
  height: 500px;
  margin-left: 30px;
  background-color: whitesmoke;
}
#search-history {
  padding-top: 10px;
  padding-left: 10px;
  background-color: whitesmoke;
}

#main-search-output {
  width: 50%;
  float: left;
}

#five-day-search-output {
  width: 50%;
  height: 500px;
  float: left;
}
